.container {
  display: inline-block;
  position: relative;
  padding: 54px;
  margin: 10px;
}

#table {
  border: 2px solid #47aae7;
  border-collapse: separate;
  border-spacing: 2px;
  table-layout: fixed;
  cursor: default;
  /*margin: 54px;*/
}

#table td {
  height: 50px;
  width: 50px;
  min-width: 50px;
  min-height: 50px;
  background-color: #47aae7;
  padding: 0;
}

.button {
  display: block;
  height: 54px;
  width: 54px;
  margin: 0;
  padding: 0;
  border: 2px solid #FFFFFF;
  position: absolute;
  cursor: pointer;
  transition: background-color 1s ease;
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 50px;
}

.button:focus {
  outline: none;
}

.button.add-column,
.button.add-row {
   background-color: #f3a62f;
}

.button.add-row {
  margin-left: 2px;
}

.button.add-column {
  margin-top: 2px;
  right: 0;
  top: 54px;
}

.button.add-column:hover,
.button.add-row:hover {
  background-color: #f6c052;
}

.button.remove-row,
.button.remove-column {
  background-color: #b33122;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out,
              top 0.5s ease,
              left 0.5s ease,
              visibility 0.3s ease-in-out;
}

.button.remove-row {
  left: 0;
}

.button.remove-column {
  top: 0;
}

.button.remove-row:hover,
.button.remove-column:hover {
  background-color: #ca4c49;
}

.button.remove-row.visibility:hover,
.button.remove-column.visibility:hover {
  opacity: 1;
  visibility: visible;
}

#table:hover ~ .button.remove-column.visibility,
#table:hover ~ .button.remove-row.visibility {
  opacity: 1;
  visibility: visible;
}
